[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coiled = "*"
dask = "*"
pandas = "*"
ibis-framework = {extras = ["duckdb"], version = "*"}
duckdb = "*"
sqlalchemy = "*"
pyspark = "*"
fugue = {extras = ["sql"], version = "*"}
fugue-jupyter = "*"
jupyterlab = "*"
polars = "*"
buckaroo = "*"

[dev-packages]

[requires]
python_version = "3.10"
